<main class="d-flex w-100" style="background-color: rgb(13, 177, 68);" >
  <div class="container color ">
    <div class="row vh-100">
      <div class="col-lg-4 offset-lg-4 d-table h-100" >
        <div style="margin-top: 100px;">
          <h2 class="text-center text-white">Admin Panel</h2>
          <div class="card">
            <div class="card-body">
              <div class="my-3" align="center">
                <img src="assets\images\starterWeaver.png" alt="" class="rounded-4" width="110px" height="70px">
              </div>
              <h2 class="text-center m-0 p-0"><b>Startup weaver</b></h2>
              <div class="text-center mb-3">
                <span style="font-size:13px;" class="text-muted">
                  Please login to start your session
                </span>
              </div>

              <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- Email ID Field -->
                <div class="mb-2">
                  <label>Email ID</label>
                  <input
                    inputmode="email"
                    class="form-control form-control-lg"
                    type="email"
                    formControlName="emailId"
                    autocomplete="off"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="
                      !loginForm.controls.emailId?.valid &&
                      (loginForm.controls.emailId?.dirty || loginForm.controls.emailId?.touched)
                    "
                  >
                    Email ID must be valid.
                  </span>
                </div>
              
                <!-- Password Field -->
                <div class="mb-3">
                  <label for="password">Password</label>
                  <input
                    class="form-control form-control-lg disable-focus"
                    type="{{ isPassword ? 'password' : 'text' }}"
                    formControlName="password"
                    autocomplete="off"
                    id="password"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="
                      !loginForm.controls.password?.valid &&
                      (loginForm.controls.password?.dirty || loginForm.controls.password?.touched)
                    "
                  >
                    Password must be at least 6 characters long.
                  </span>
                </div>
              
                <!-- Submit Button -->
                <div class="text-center mt-2">
                  <button
                    type="submit"
                    [disabled]="!loginForm.valid || isLoading"
                    class="btn col-12 btn-lg btn-primary"
                  >
                    Login
                  </button>
                </div>
              </form>
              

            </div>
          </div>
          <footer class="text-center text-light">
            <i class="ri-mail-line"></i>
            <a href="mailto:contact@fastwhistle.com" class="text-light ms-1">{{emailId}}</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</main>
